In [1]:
import FinanceDataReader as fdr
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
url = 'http://kind.krx.co.kr/corpgeneral/corpList.do?method='\
            'download&searchType=13'
krx = pd.read_html(url, header=0)[0]
krx = krx[['종목코드', '회사명']]
krx = krx.rename(columns={'종목코드': 'code', '회사명': 'company'})
krx.code = krx.code.map('{:06d}'.format)

In [3]:
krx_stocklist = fdr.StockListing('KRX')

In [4]:
code_row = krx.loc[krx['code'] == '000210']

In [5]:
code_row['company']

0    DL
Name: company, dtype: object

In [6]:
krx['code']== '000210'

0        True
1       False
2       False
3       False
4       False
        ...
2531    False
2532    False
2533    False
2534    False
2535    False
Name: code, Length: 2536, dtype: bool

In [7]:
krx['code'][0]

'000210'

In [8]:
data_list = []

In [10]:
list(krx.loc[:,'code'])

['000210',
 '004840',
 '155660',
 '078930',
 '294870',
 '001390',
 '025000',
 '044450',
 '058860',
 '011070',
 '037560',
 '108670',
 '383800',
 '023150',
 '010060',
 '178920',
 '402340',
 '096770',
 '011810',
 '024070',
 '011420',
 '002100',
 '012320',
 '007690',
 '014530',
 '090350',
 '005250',
 '353200',
 '128820',
 '047040',
 '000430',
 '000020',
 '336260',
 '286940',
 '008560',
 '000060',
 '017180',
 '012690',
 '204210',
 '003850',
 '001270',
 '030790',
 '028050',
 '005930',
 '068290',
 '003230',
 '003720',
 '004380',
 '010960',
 '136490',
 '002420',
 '004490',
 '016590',
 '029530',
 '031430',
 '293940',
 '055550',
 '078520',
 '012280',
 '007310',
 '271560',
 '105840',
 '008600',
 '033270',
 '023800',
 '129260',
 '013360',
 '081000',
 '033240',
 '271980',
 '002620',
 '001550',
 '001630',
 '272450',
 '009070',
 '417310',
 '003070',
 '036420',
 '031820',
 '020120',
 '004100',
 '008930',
 '009240',
 '009180',
 '002220',
 '009460',
 '088350',
 '143210',
 '000720',
 '004560',
 '005380',
 '001500',
 '126560',
 '111110',
 '311690',
 '050120',
 '403870',
 '405350',
 '095340',
 '067290',
 '024120',
 '111870',
 '060720',
 '060370',
 '036120',
 '340350',
 '032540',
 '036620',
 '217730',
 '215000',
 '366030',
 '331520',
 '043650',
 '078130',
 '204020',
 '019660',
 '286750',
 '137080',
 '094860',
 '085910',
 '007390',
 '376930',
 '054050',
 '012340',
 '270870',
 '119860',
 '340360',
 '032190',
 '078140',
 '290380',
 '290120',
 '023910',
 '393890',
 '213420',
 '006620',
 '099410',
 '228340',
 '203650',
 '066900',
 '127120',
 '033130',
 '060300',
 '294140',
 '060240',
 '019570',
 '219420',
 '377480',
 '250060',
 '118990',
 '214610',
 '251120',
 '019010',
 '337930',
 '146320',
 '122350',
 '023600',
 '377630',
 '252990',
 '037350',
 '396300',
 '258830',
 '049180',
 '208370',
 '192440',
 '115570',
 '330730',
 '013810',
 '269620',
 '139050',
 '215600',
 '344050',
 '430220',
 '405640',
 '010280',
 '066790',
 '115530',
 '900120',
 '246720',
 '127710',
 '339950',
 '099190',
 '069920',
 '090150',
 '059100',
 '124500',
 '372800',
 '361570',
 '096610',
 '061040',
 '347860',
 '310200',
 '238090',
 '174900',
 '102120',
 '097780',
 '065420',
 '103230',
 '095910',
 '351320',
 '056190',
 '043340',
 '187660',
 '200710',
 '241840',
 '045660',
 '224110',
 '021080',
 '038870',
 '950130',
 '092870',
 '317870',
 '058630',
 '065150',
 '265560',
 '122640',
 '080520',
 '138080',
 '049480',
 '109080',
 '153710',
 '053080',
 '382840',
 '336060',
 '095270',
 '065950',
 '203450',
 '086390',
 '241690',
 '024800',
 '054930',
 '179900',
 '054210',
 '349720',
 '047560',
 '066980',
 '123570',
 '033230',
 '064290',
 '115310',
 '333430',
 '049550',
 '254120',
 '234920',
 '040420',
 '079370',
 '322510',
 '094970',
 '080220',
 '034940',
 '036930',
 '051980',
 '263860',
 '382480',
 '119850',
 '052300',
 '071850',
 '223310',
 '342550',
 '042040',
 '054410',
 '258610',
 '274090',
 '078940',
 '101670',
 '082660',
 '069110',
 '102940',
 '322780',
 '237880',
 '065130',
 '182690',
 '200230',
 '045340',
 '105550',
 '290090',
 '026150',
 '246710',
 '043220',
 '104480',
 '065690',
 '225590',
 '256630',
 '331380',
 '005670',
 '371950',
 '377220',
 '032580',
 '024850',
 '319660',
 '031980',
 '006140',
 '388220',
 '365590',
 '221840',
 '039340',
 '222980',
 '025550',
 '409570',
 '256150',
 '070590',
 '078350',
 '386580',
 '319400',
 '048410',
 '052260',
 '039610',
 '090710',
 '037440',
 '076340',
 '243870',
 '244880',
 '257990',
 '323350',
 '271850',
 '223220',
 '103660',
 '270210',
 '276240',
 '221800',
 '250030',
 '136660',
 '336040',
 '079160',
 '097950',
 '000590',
 '007340',
 '069730',
 '007700',
 '007070',
 '012630',
 '096760',
 '105560',
 '092220',
 '000040',
 '058850',
 '229640',
 '011790',
 '210980',
 '035250',
 '009450',
 '030610',
 '014280',
 '002990',
 '001210',
 '024110',
 '006280',
 '030210',
 '006370',
 '117580',
 '003220',
 '001070',
 '005880',
 '024900',
 '170900',
 '028100',
 '082640',
 '018500',
 '003160',
 '377190',
 '004000',
 '033920',
 '002760',
 '005180',
 '003960',
 '001470',
 '021050',
 '004360',
 '058650',
 '013000',
 '021820',
 '067830',
 '336370',
 '017550',
 '006880',
 '002700',
 '090430',
 '122900',
 '003560',
 '010580',
 '036570',
 '014440',
 '047400',
 '005950',
 '014990',
 '034590',
 '000230',
 '002600',
 '323410',
 '007810',
 '005420',
 '071950',
 '002020',
 '138490',
 '015590',
 '259960',
 '003240',
 '009410',
 '084870',
 '003670',
 '000080',
 '071050',
 '006200',
 '009540',
 '023350',
 '161390',
 '010100',
 '018880',
 '009420',
 '000880',
 '008770',
 '006060',
 '000850',
 '016580',
 '004800',
 '298000',
 '000540',
 '054620',
 '056730',
 '065770',
 '067630',
 '036640',
 '104200',
 '030190',
 '048770',
 '317240',
 '094480',
 '348150',
 '098460',
 '014200',
 '006050',
 '039860',
 '138610',
 '311390',
 '092730',
 '348210',
 '217270',
 '194700',
 '278650',
 '040160',
 '126870',
 '144960',
 '064260',
 '006580',
 '096350',
 '131220',
 '298540',
 '005160',
 '088130',
 '013120',
 '217620',
 '066670',
 '214680',
 '092070',
 '039840',
 '131180',
 '315640',
 '038390',
 '005990',
 '377030',
 '100590',
 '133750',
 '014100',
 '054180',
 '059210',
 '058110',
 '096640',
 '417970',
 '080160',
 '001810',
 '100790',
 '412930',
 '008470',
 '121800',
 '142760',
 '032850',
 '238200',
 '014970',
 '225190',
 '002290',
 '038500',
 '046390',
 '027580',
 '091580',
 '043710',
 '015750',
 '365340',
 '148150',
 '017510',
 '108860',
 '043100',
 '357780',
 '236200',
 '033790',
 '033170',
 '001000',
 '333050',
 '160980',
 '099320',
 '352480',
 '352700',
 '013990',
 '125210',
 '052710',
 '092040',
 '159010',
 '101390',
 '262840',
 '001540',
 '290740',
 '237690',
 '195990',
 '003800',
 '397030',
 '230360',
 '073540',
 '064090',
 '183490',
 '323230',
 '007530',
 '036560',
 '036000',
 '045060',
 '052420',
 '131030',
 '082210',
 '321820',
 '019210',
 '101170',
 '066590',
 '030530',
 '012620',
 '065370',
 '367480',
 '263770',
 '044960',
 '056090',
 '088390',
 '264850',
 '351330',
 '083470',
 '099750',
 '060150',
 '083640',
 '189300',
 '048530',
 '039290',
 '110020',
 '208140',
 '045510',
 '225220',
 '159580',
 '287410',
 '229000',
 '067000',
 '043610',
 '303030',
 '278280',
 '293490',
 '025880',
 '105330',
 '391710',
 '046070',
 '290510',
 '190650',
 '049430',
 '041960',
 '045970',
 '196450',
 '056000',
 '056360',
 '114120',
 '023160',
 '191420',
 '073640',
 '066700',
 '215480',
 '062860',
 '043200',
 '208340',
 '150900',
 '038950',
 '091700',
 '068050',
 '251970',
 '093380',
 '237820',
 '002230',
 '137400',
 '376180',
 '087600',
 '163730',
 '418170',
 '067310',
 '136480',
 '400840',
 '053300',
 '054040',
 '050540',
 '047080',
 '007770',
 '043090',
 '234340',
 '090850',
 '290270',
 '032860',
 '084110',
 '189980',
 '114920',
 '233250',
 '281310',
 '267810',
 '044990',
 '121060',
 '279060',
 '254160',
 '180060',
 '308700',
 '327610',
 '282330',
 '138930',
 '006360',
 '066570',
 '034120',
 '001380',
 '001770',
 '034730',
 '018670',
 '006120',
 '068400',
 '395400',
 '071970',
 '037270',
 '005320',
 '002720',
 '001570',
 '073240',
 '008350',
 '072710',
 '058730',
 '006650',
 '192080',
 '007590',
 '026960',
 '102260',
 '001520',
 '008970',
 '049770',
 '014820',
 '002690',
 '013570',
 '027740',
 '088980',
 '138040',
 '090370',
 '009680',
 '085620',
 '134380',
 '035150',
 '002410',
 '207940',
 '016360',
 '029780',
 '000070',
 '002810',
 '000520',
 '009770',
 '001290',
 '248170',
 '200880',
 '003080',
 '001430',
 '004430',
 '011930',
 '031440',
 '003410',
 '004920',
 '002790',
 '010780',
 '139990',
 '018250',
 '161000',
 '007460',
 '181710',
 '097520',
 '015360',
 '006980',
 '016880',
 '011330',
 '003460',
 '025820',
 '214320',
 '139480',
 '015020',
 '003120',
 '194370',
 '063160',
 '035000',
 '088790',
 '051630',
 '029460',
 '145270',
 '005070',
 '007980',
 '078000',
 '214420',
 '363280',
 '036580',
 '071090',
 '019490',
 '002200',
 '000240',
 '123890',
 '015760',
 '025890',
 '004150',
 '011700',
 '300720',
 '012450',
 '101530',
 '086280',
 '329180',
 '378850',
 '094280',
 '005870',
 '013720',
 '021320',
 '036670',
 '151860',
 '122450',
 '160550',
 '950110',
 '040610',
 '184230',
 '089230',
 '052220',
 '078890',
 '053950',
 '198440',
 '014570',
 '060480',
 '307750',
 '049080',
 '187790',
 '190510',
 '267320',
 '111710',
 '091590',
 '137940',
 '039560',
 '007720',
 '036480',
 '025440',
 '005710',
 '010170',
 '299170',
 '067990',
 '086450',
 '032960',
 '073190',
 '180400',
 '043360',
 '068930',
 '105740',
 '200350',
 '141080',
 '090360',
 '038060',
 '012700',
 '100030',
 '049950',
 '222160',
 '323990',
 '267790',
 '177350',
 '250000',
 '099390',
 '064480',
 '082800',
 '138580',
 '018310',
 '054090',
 '024950',
 '017480',
 '107600',
 '079650',
 '189860',
 '171090',
 '086710',
 '043260',
 '100700',
 '068940',
 '328380',
 '253450',
 '020710',
 '131090',
 '290520',
 '226330',
 '222420',
 '297090',
 '101240',
 '260930',
 '357580',
 '332370',
 '289010',
 '040910',
 '031310',
 '032080',
 '013310',
 '085810',
 '293780',
 '196300',
 '263540',
 '238120',
 '270660',
 '260970',
 '306040',
 '234300',
 '054630',
 '096690',
 '298380',
 '205100',
 '208860',
 '182400',
 '069410',
 '096870',
 '061970',
 '060850',
 '048260',
 '067170',
 '273060',
 '082850',
 '336570',
 '008370',
 '044340',
 '112040',
 '101730',
 '089850',
 '264450',
 '049520',
 '435380',
 '430700',
 '388800',
 '413630',
 '263050',
 '039020',
 '073490',
 '053350',
 '115610',
 '024810',
 '041830',
 '277410',
 '037330',
 '289220',
 '049630',
 '089790',
 '038010',
 '033340',
 '388050',
 '036890',
 '363250',
 '362320',
 '047820',
 '050110',
 '063080',
 '263700',
 '214370',
 '024880',
 '222040',
 '241710',
 '121850',
 '126600',
 '433530',
 '323280',
 '053620',
 '124560',
 '051360',
 '033830',
 '356860',
 '046210',
 '177830',
 '370090',
 '321260',
 '053610',
 '241820',
 '343510',
 '017890',
 '025770',
 '023760',
 '024740',
 '076610',
 '092300',
 '138360',
 '011080',
 '112190',
 '260870',
 '317860',
 '403360',
 '092590',
 '245450',
 '086460',
 '217910',
 '116100',
 '095570',
 '000120',
 '001880',
 '383220',
 '097230',
 '014790',
 '011200',
 '092230',
 '051900',
 '051910',
 '079550',
 '005940',
 '034310',
 '008260',
 '002360',
 '001740',
 '001510',
 '017670',
 '012610',
 '009140',
 '339770',
 '001140',
 '092440',
 '013700',
 '002350',
 '004370',
 '008060',
 '008110',
 '005750',
 '009190',
 '069620',
 '012800',
 '001440',
 '003490',
 '069460',
 '001230',
 '241560',
 '001530',
 '092200',
 '115390',
 '032350',
 '005300',
 '011170',
 '357430',
 '094800',
 '007120',
 '396690',
 '155900',
 '011390',
 '005030',
 '007160',
 '014710',
 '001360',
 '023000',
 '004440',
 '004450',
 '007860',
 '019440',
 '075580',
 '068270',
 '005390',
 '003620',
 '004770',
 '015540',
 '112610',
 '002310',
 '011090',
 '123700',
 '023960',
 '085310',
 '004250',
 '010120',
 '111770',
 '009970',
 '070960',
 '017370',
 '049800',
 '014830',
 '003470',
 '001200',
 '008250',
 '102460',
 '101140',
 '006490',
 '006220',
 '004910',
 '000480',
 '013870',
 '035720',
 '002380',
 '344820',
 '120110',
 '006890',
 '069260',
 '001020',
 '009810',
 '293480',
 '039130',
 ...]

In [11]:
df_1 = fdr.DataReader(krx['code'][0], '2000', '2023')

df_1['Code'] = krx['code'][0]
df_1['Company'] = krx['company'][0]





#code_row = krx.loc[krx['code'] == '000210']

In [12]:
df_2 = fdr.DataReader(krx['code'][1], '2000', '2023')

df_2['Code'] = krx['code'][1]
df_2['Company'] = krx['company'][1]

# 



#code_row = krx.loc[krx['code'] == '000210']

In [13]:
df_2

            Open  High   Low  Close  Volume    Change    Code Company
Date
2000-01-04  1042  1042   925   1016    2500 -0.028681  004840   DRB동일
2000-01-05  1024  1024  1001   1007     200 -0.008858  004840   DRB동일
2000-01-06  1001  1001  1001   1007       0  0.000000  004840   DRB동일
2000-01-07   937   981   937    984    2100 -0.022840  004840   DRB동일
2000-01-10   978   978   978    980    1800 -0.004065  004840   DRB동일
...          ...   ...   ...    ...     ...       ...     ...     ...
2022-10-07  4245  4375  4205   4295    7752  0.021403  004840   DRB동일
2022-10-11  4295  4295  4055   4115    8872 -0.041909  004840   DRB동일
2022-10-12  4015  4085  4015   4085   19295 -0.007290  004840   DRB동일
2022-10-13  4050  4065  3890   3945   31261 -0.034272  004840   DRB동일
2022-10-14  4000  4070  4000   4045   11265  0.025349  004840   DRB동일

[5624 rows x 8 columns]

In [14]:
df_1

             Open   High    Low  Close  Volume    Change    Code Company
Date
2000-01-04   9668  12108   9668  11205  484170  0.016419  000210      DL
2000-01-05  11024  11024  10210  10392  440630 -0.072557  000210      DL
2000-01-06  10662  10798   9578   9849  499050 -0.052252  000210      DL
2000-01-07   9849  10120   9578  10030  554370  0.018378  000210      DL
2000-01-10  10120  10210   9668   9940  533930 -0.008973  000210      DL
...           ...    ...    ...    ...     ...       ...     ...     ...
2022-10-07  59100  59700  58500  59500   55000 -0.001678  000210      DL
2022-10-11  58000  59000  56700  57000   68217 -0.042017  000210      DL
2022-10-12  56900  59800  56400  58700   60551  0.029825  000210      DL
2022-10-13  58700  58800  56500  56500   42079 -0.037479  000210      DL
2022-10-14  57500  58900  57200  58600   38238  0.037168  000210      DL

[5624 rows x 8 columns]

In [20]:
df_2

            Open  High   Low  Close  Volume    Change    Code Company
Date
2000-01-04  1042  1042   925   1016    2500 -0.028681  004840   DRB동일
2000-01-05  1024  1024  1001   1007     200 -0.008858  004840   DRB동일
2000-01-06  1001  1001  1001   1007       0  0.000000  004840   DRB동일
2000-01-07   937   981   937    984    2100 -0.022840  004840   DRB동일
2000-01-10   978   978   978    980    1800 -0.004065  004840   DRB동일
...          ...   ...   ...    ...     ...       ...     ...     ...
2022-10-07  4245  4375  4205   4295    7752  0.021403  004840   DRB동일
2022-10-11  4295  4295  4055   4115    8872 -0.041909  004840   DRB동일
2022-10-12  4015  4085  4015   4085   19295 -0.007290  004840   DRB동일
2022-10-13  4050  4065  3890   3945   31261 -0.034272  004840   DRB동일
2022-10-14  4000  4070  4000   4045   11265  0.025349  004840   DRB동일

[5624 rows x 8 columns]

In [16]:
df_3 = pd.merge(df_1, df_2)

In [22]:
frames = [df_1, df_2]

In [23]:
frames

[             Open   High    Low  Close  Volume    Change    Code Company
 Date
 2000-01-04   9668  12108   9668  11205  484170  0.016419  000210      DL
 2000-01-05  11024  11024  10210  10392  440630 -0.072557  000210      DL
 2000-01-06  10662  10798   9578   9849  499050 -0.052252  000210      DL
 2000-01-07   9849  10120   9578  10030  554370  0.018378  000210      DL
 2000-01-10  10120  10210   9668   9940  533930 -0.008973  000210      DL
 ...           ...    ...    ...    ...     ...       ...     ...     ...
 2022-10-07  59100  59700  58500  59500   55000 -0.001678  000210      DL
 2022-10-11  58000  59000  56700  57000   68217 -0.042017  000210      DL
 2022-10-12  56900  59800  56400  58700   60551  0.029825  000210      DL
 2022-10-13  58700  58800  56500  56500   42079 -0.037479  000210      DL
 2022-10-14  57500  58900  57200  58600   38238  0.037168  000210      DL

 [5624 rows x 8 columns],
             Open  High   Low  Close  Volume    Change    Code Company
 Date
 2000-01-04  1042  1042   925   1016    2500 -0.028681  004840   DRB동일
 2000-01-05  1024  1024  1001   1007     200 -0.008858  004840   DRB동일
 2000-01-06  1001  1001  1001   1007       0  0.000000  004840   DRB동일
 2000-01-07   937   981   937    984    2100 -0.022840  004840   DRB동일
 2000-01-10   978   978   978    980    1800 -0.004065  004840   DRB동일
 ...          ...   ...   ...    ...     ...       ...     ...     ...
 2022-10-07  4245  4375  4205   4295    7752  0.021403  004840   DRB동일
 2022-10-11  4295  4295  4055   4115    8872 -0.041909  004840   DRB동일
 2022-10-12  4015  4085  4015   4085   19295 -0.007290  004840   DRB동일
 2022-10-13  4050  4065  3890   3945   31261 -0.034272  004840   DRB동일
 2022-10-14  4000  4070  4000   4045   11265  0.025349  004840   DRB동일

 [5624 rows x 8 columns]]

In [24]:
result = pd.concat(frames)

In [25]:
result

             Open   High    Low  Close  Volume    Change    Code Company
Date
2000-01-04   9668  12108   9668  11205  484170  0.016419  000210      DL
2000-01-05  11024  11024  10210  10392  440630 -0.072557  000210      DL
2000-01-06  10662  10798   9578   9849  499050 -0.052252  000210      DL
2000-01-07   9849  10120   9578  10030  554370  0.018378  000210      DL
2000-01-10  10120  10210   9668   9940  533930 -0.008973  000210      DL
...           ...    ...    ...    ...     ...       ...     ...     ...
2022-10-07   4245   4375   4205   4295    7752  0.021403  004840   DRB동일
2022-10-11   4295   4295   4055   4115    8872 -0.041909  004840   DRB동일
2022-10-12   4015   4085   4015   4085   19295 -0.007290  004840   DRB동일
2022-10-13   4050   4065   3890   3945   31261 -0.034272  004840   DRB동일
2022-10-14   4000   4070   4000   4045   11265  0.025349  004840   DRB동일

[11248 rows x 8 columns]

In [17]:
df_3

Empty DataFrame
Columns: [Open, High, Low, Close, Volume, Change, Code, Company]
Index: []

In [15]:
data_list.append(df_1)

list 에 append 를 써야 덩어리의 데이터를 list 로 넣을 수 있다.

In [30]:
data_list[0]

             Open   High    Low  Close  Volume    Change
Date
2000-01-04   9668  12108   9668  11205  484170  0.016419
2000-01-05  11024  11024  10210  10392  440630 -0.072557
2000-01-06  10662  10798   9578   9849  499050 -0.052252
2000-01-07   9849  10120   9578  10030  554370  0.018378
2000-01-10  10120  10210   9668   9940  533930 -0.008973
...           ...    ...    ...    ...     ...       ...
2022-10-07  59100  59700  58500  59500   55000 -0.001678
2022-10-11  58000  59000  56700  57000   68217 -0.042017
2022-10-12  56900  59800  56400  58700   60551  0.029825
2022-10-13  58700  58800  56500  56500   42079 -0.037479
2022-10-14  57500  58900  57200  58600   38238  0.037168

[5624 rows x 6 columns]

In [22]:
data_list[0] = fdr.DataReader(krx['code'][0], '2005', '2022')

IndexError: list assignment index out of range