In [7]:
import FinanceDataReader as fdr
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
url = 'http://kind.krx.co.kr/corpgeneral/corpList.do?method='\
            'download&searchType=13'
krx = pd.read_html(url, header=0)[0]
krx = krx[['종목코드', '회사명']]
krx = krx.rename(columns={'종목코드': 'code', '회사명': 'company'})
krx.code = krx.code.map('{:06d}'.format)

In [9]:
krx_stocklist = fdr.StockListing('KRX')

In [4]:
krx['code'][0]

'000210'

In [5]:
len(krx['code'])

2536

In [6]:
range(1, len(krx['code']))

range(1, 2536)

In [10]:
df_1 = fdr.DataReader(krx['code'][0], '2000', '2023')
df_1['Code'] = krx['code'][0]
df_1['Company'] = krx['company'][0]

In [11]:
df_1

             Open   High    Low  Close  Volume    Change    Code Company
Date
2000-01-04   9668  12108   9668  11205  484170  0.016419  000210      DL
2000-01-05  11024  11024  10210  10392  440630 -0.072557  000210      DL
2000-01-06  10662  10798   9578   9849  499050 -0.052252  000210      DL
2000-01-07   9849  10120   9578  10030  554370  0.018378  000210      DL
2000-01-10  10120  10210   9668   9940  533930 -0.008973  000210      DL
...           ...    ...    ...    ...     ...       ...     ...     ...
2022-10-07  59100  59700  58500  59500   55000 -0.001678  000210      DL
2022-10-11  58000  59000  56700  57000   68217 -0.042017  000210      DL
2022-10-12  56900  59800  56400  58700   60551  0.029825  000210      DL
2022-10-13  58700  58800  56500  56500   42079 -0.037479  000210      DL
2022-10-14  57500  58900  57200  58600   38238  0.037168  000210      DL

[5624 rows x 8 columns]

In [14]:
for i in range(1, 3):
    
    
    df_2 = fdr.DataReader(krx['code'][1], '2000', '2023')
    df_2['Code'] = krx['code'][i]
    df_2['Company'] = krx['company'][i]
    
    frames = [df_1, df_2]
    
    result = pd.concat(frames)
    df_1 = result
    print(i)

1
2

In [15]:
df_1

             Open   High    Low  Close  Volume    Change    Code Company
Date
2000-01-04   9668  12108   9668  11205  484170  0.016419  000210      DL
2000-01-05  11024  11024  10210  10392  440630 -0.072557  000210      DL
2000-01-06  10662  10798   9578   9849  499050 -0.052252  000210      DL
2000-01-07   9849  10120   9578  10030  554370  0.018378  000210      DL
2000-01-10  10120  10210   9668   9940  533930 -0.008973  000210      DL
...           ...    ...    ...    ...     ...       ...     ...     ...
2022-10-07   4245   4375   4205   4295    7752  0.021403  155660     DSR
2022-10-11   4295   4295   4055   4115    8872 -0.041909  155660     DSR
2022-10-12   4015   4085   4015   4085   19295 -0.007290  155660     DSR
2022-10-13   4050   4065   3890   3945   31261 -0.034272  155660     DSR
2022-10-14   4000   4070   4000   4045   11265  0.025349  155660     DSR

[635512 rows x 8 columns]

In [ ]:
def collect_data